body {
    margin: auto;
	margin-top: 10px;
    margin-bottom: 15px;
    width: 720px;
    font-family: monospace;
    font-size: 16px; 
    color: whitesmoke;
    background: darkslategray;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 240%;
	font-weight: normal;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 160%;
    font-weight: normal;
}

h3 {
	margin: 0px;
	font-weight: normal;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	color: gray;
}

ul {
	list-style: '> ';
	margin: 0px;
}
	
li {
    margin: 15px 0px 15px;
}

details {
    margin-top: 15px;
}

summary {
    font-size: 115%;
    margin-top: 3px;
    margin-bottom: 3px;
}

blockquote {
	border-left: 5px solid thistle;
	margin: 1.2em 10px;
	padding: 0.5em 12px;
	font-style: italic;
}

#content {
    margin: 20px;
}

#nav {
    float: right;
    color: gray;
    font-size: 120%;
}

a:link { 
    text-decoration: none;
    color: darkorange;
}
a:visited {
    text-decoration: none;
    color: darkorange;
}
a:active {
    text-decoration: none;
    color: darkorange;
}
a:hover { color: thistle; }

